/*****************************************************************/
/***************************** Custom ****************************/
/**************************** scrollbar **************************/
/*****************************************************************/
::-webkit-scrollbar {
    width: 10px;
}
  
/**********************************************************/
/************************* Track **************************/
/**********************************************************/
::-webkit-scrollbar-track {
    background: transparent;
}

/**********************************************************/
/************************* Thumb **************************/
/**********************************************************/
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.329);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.592);
}