/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/
    --dark-color: #000000;
    --dark-color-op: #00000080;
    --dark-grey: #282828;
    --dark-blue: #141922;
    --white: #ffffff;
    --light-color: #adff2f;
    --light-grey: #a3a3a3;

    /* Border variables */

    /* Hover variables */

    /* Size variables */
    --play-bar-height: 90px;
    --main-menu-width: 230px;
    --call-to-action-height: 85px;

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/*****************************************************************/
/************************** Background ***************************/
/**************************** colors *****************************/
/*****************************************************************/
.bg-dark-color{
    background-color: var(--dark-color);
}
.bg-dark-color-op{
    background-color: var(--dark-color-op);
}
.bg-dark-grey{
    background-color: var(--dark-grey);
}
.bg-dark-blue{
     background-color: var(--dark-blue);
}

/*****************************************************************/
/*************************** Txt color ***************************/
/**************************** colors *****************************/
/*****************************************************************/
.txt-white{
    color: var(--white);
}
.txt-light-grey{
    color: var(--light-grey);
}

/*****************************************************************/
/***************************** Text ******************************/
/************************** properties ***************************/
/*****************************************************************/
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-center{
    text-align: center;
}

/*****************************************************************/
/***************************** Font ******************************/
/***************************** weight ****************************/
/*****************************************************************/
.fw-regular{
    font-weight: 400;
}
.fw-medium{
    font-weight: 500;
}
.fw-semibold{
    font-weight: 600;
}
.fw-bold{
    font-weight: 700;
}

/*****************************************************************/
/***************************** Font ******************************/
/***************************** size ******************************/
/*****************************************************************/
.fs-0-9{
    font-size: 0.95rem;
}
.fs-0-8{
    font-size: 0.8rem;
}
.fs-0-7{
    font-size: 0.7rem;
}
.fs-3-5{
    font-size: 3.5rem;
}

/***************************************************************/
/************************** Overflow ***************************/
/***************************************************************/
.overflow-hidden{
    overflow: hidden;
}
.overflow-y-auto{
    overflow-y: auto;
}

/***************************************************************/
/************************** Opacity ****************************/
/***************************************************************/
.opacity-0-p{
    opacity: 0;
}
.opacity-50-p{
    opacity: 50%;
}
.opacity-100-p{
    opacity: 100%;
}

/***************************************************************/
/**************************** Links ****************************/
/***************************************************************/
a{
    text-decoration: none;
}
#menu a{
    padding: 0 0.75rem;
}

/*****************************************************************/
/*************************** Border ******************************/
/**************************** radius *****************************/
/*****************************************************************/
.bdr-20-px{
    border-radius: 20px;
}
.bdr-50-p{
    border-radius: 50%;
}

/***************************************************************/
/************************** Padding ****************************/
/***************************************************************/
.pd-t-b-0_6rem{
    padding: 0.6rem 0;
}
.pd-t-0_6rem{
    padding-top: 0.6rem;
}

/*****************************************************************/
/**************************** Flexbox ****************************/
/*****************************************************************/
.d-flex{
    display: flex;
}
.d-f-column{
    flex-flow: column;
}
.d-f-just-center{
    justify-content: center;
}
.d-f-just-end{
    justify-content: flex-end;
}
.d-f-align-center{
    align-items: center;
    align-content: center;
}
.d-f-wrap{
    flex-wrap: wrap;
}
.gap-1rem{
    gap: 1rem;
}
.gap-row-2rem{
    row-gap: 2rem;
}

/*****************************************************************/
/**************************** Buttons ****************************/
/*****************************************************************/
.btn{
    padding: 0.8rem 3rem;
    margin-right: 1.5rem;
    border: 1px solid var(--white);
}

/*****************************************************************/
/***************************** Others ****************************/
/*****************************************************************/
.light-rect{
    width: 40%;
    margin-top: 3px;
    border: 1px solid transparent;
}
#menu a[selected] .light-rect, #menu a:hover .light-rect{
    border: 1px solid var(--light-color);
}

/*****************************************************************/
/**************************** Default ****************************/
/************************** structure ****************************/
/*****************************************************************/
#wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}
#play-bar{
    width: 100%;
    height: var(--play-bar-height);
}
main{
    width: 100%;
    height: calc(100vh - var(--play-bar-height));
}
main #main-menu{
    width: var(--main-menu-width);
    min-height: 480px;
}
main #main-content{
    width: calc(100% - var(--main-menu-width));
    height: 100%;
}
main #main-content #call-to-action{
    width: calc(100% - var(--main-menu-width));
    height: var(--call-to-action-height);
    position: fixed;
    top: 0;
    right: 0;
}
#sections-container{
    width: 100%;
    margin-top: var(--call-to-action-height);
    padding: 1.4rem;
}
#recently-played, #created-for-me, #popular-artists{
    width: 100%;
    margin: 2rem 0;
}
.elems-container{
    width: 100%;
}
.elems-container .elem{
    width: calc(100% / 6 - 1rem);
    cursor: pointer;
    margin: 2rem 0 0.5rem 0;
}
.elem .box-image{
    position: relative;
}
.elem .box-image i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
}
.elem:hover .box-image i{
    opacity: 100%;
}
.elem .box-image img{
    width: 100%;
}

/*****************************************************************/
/***************************** Media *****************************/
/**************************** Queries ****************************/
/*****************************************************************/
@media screen and (max-width: 878px){
    .elems-container .elem{
        width: calc(100% / 4 - 1rem);
    }
}

@media screen and (max-width: 639px){
    .elems-container .elem{
        width: calc(100% / 2 - 1rem);
    }
}

@media screen and (max-width: 552px){
    :root{
        --main-menu-width: 70px;
    }
}