/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Color variables*/
    --dark-color: #000000;
    --dark-grey: #282828;
    --dark-blue: #141922;
    --white: #ffffff;
    --light-color: #adff2f;
    --light-grey: #a3a3a3;

    /* Border variables */

    /* Hover variables */

    /* Size variables */

    /* Transition variables */

}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/*****************************************************************/
/************************** Background ***************************/
/**************************** colors *****************************/
/*****************************************************************/
.bg-dark-color{
    background-color: var(--dark-color);
}
.bg.dark-grey{
    background-color: var(--dark-grey);
}
.bg-dark-blue{
     background-color: var(--dark-blue);
}

/*****************************************************************/
/*************************** Txt color ***************************/
/**************************** colors *****************************/
/*****************************************************************/
.txt-white{
    color: var(--white);
}
.txt-light-grey{
    color: var(--light-grey);
}

/*****************************************************************/
/**************************** Default ****************************/
/************************** structure ****************************/
/*****************************************************************/
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
}
